@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
  max-width: 360px;
  margin: auto;
}

p {
  margin-block-end: 0.75rem;
}

label {
  font-size: 11px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: var(--spacing-4);
}

select,
input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

input[type="color"] {
  padding: 2px 4px;
}

.value-span {
  margin-left: 4px;
  color: var(--df-primary);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.canvas-container {
  overflow: hidden;
  aspect-ratio: 1;
  max-height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 100%;
  border-top: 2px solid transparent;

  animation: loading 1s infinite linear;
}

body[data-theme="dark"] .loader {
  border-right: 2px solid var(--df-secondary);
  border-left: 2px solid var(--df-secondary);
  border-bottom: 2px solid var(--df-secondary);
}

body[data-theme="light"] .loader {
  border-right: 2px solid var(--lf-secondary);
  border-left: 2px solid var(--lf-secondary);
  border-bottom: 2px solid var(--lf-secondary);
}

.hide {
  display: none;
}

.center {
  margin: auto;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

[data-theme="light"] .range {
  accent-color: var(--la-primary);
}
[data-theme="dark"] .range {
  accent-color: var(--da-primary);
}
