@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
  max-width: 360px;
  margin: auto;
}

p {
  margin-block-end: 0.75rem;
}

label {
  font-size: 11px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: var(--df-secondary);
  margin-bottom: var(--spacing-4);
}

select,
input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  accent-color: var(--da-primary);
}

input:focus {
  outline: 1px solid var(--da-primary);
}

input[type="color"] {
  padding: 2px 4px;
}

.value-span {
  margin-left: 4px;
  color: var(--df-primary);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.canvas-container {
  overflow: hidden;
  aspect-ratio: 1;
  max-height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
